{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@(.*)/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": false,
  "insertPragma": false,
  "jsxSingleQuote": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "tabWidth": 2,
  "endOfLine": "auto"
}
